<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/styles1.css">
  <title>Login Page</title>
</head>

<body>
  <div class="main-container">
    <div class="container">
  <form method="post" action="/loginSuccess">
            
    <label> Username: </label>
    <input type="email" name="mail" placeholder="username" autocomplete="off" required> <br>

    <label> Password: </label>
    <input type="password" id="taskName" placeholder="password" autocomplete="off" required> <br>

    <input type="submit" value="Login">

</form>
<div>
  <a href="/register"> Register</a>
</div>
</div>

</div>

</body>

</html>